.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: rgb(0, 0, 0);
  position: sticky;
}
.first > .MuiSvgIcon-root {
  color: white;
  cursor: pointer;
  margin-left: 5px;
}
.images {
  object-fit: contain;
  height: 80px;
  margin-left: 10px;
}
.first {
  display: flex;
  align-items: center;
}

.input {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 45%;
  border: 2px solid white;
  border-radius: 8px;
}

.inputtext {
  width: 95%;
  height: 25px;
  border-radius: 10px;
  outline-style: none;
}

.input > .MuiSvgIcon-root {
  color: white;
  height: 1.09em;
  padding: 4px;
  width: 5%;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 10px;
  border-left: 3px white;
}

.materialicons {
  padding: 10px;
  display: flex;
  align-items: center;
}
.materialicons > .MuiSvgIcon-root {
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
